allow-flight=true
allow-nether=true
broadcast-console-to-ops=true
difficulty=normal
enable-command-block=false
enable-query=false
enable-rcon=false
enable-status=true
enforce-secure-profile=true
enforce-whitelist=true
function-permission-level=2
gamemode=survival
generate-structures=true
hardcore=false
hide-online-players=false
level-name=world
level-seed=
max-players=4
max-tick-time=60000
motd=Hasencraft - Flausch, Forscherdrang und Fabriken
network-compression-threshold=256
online-mode=true
op-permission-level=4
pause-when-empty-seconds=60
player-idle-timeout=0
prevent-proxy-connections=false
pvp=true
rate-limit=0
simulation-distance=2
spawn-protection=0
sync-chunk-writes=true
use-native-transport=true
view-distance=5
white-list=true
